---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    
    {{ post.excerpt }}

    {% if post.excerpt != post.content %}
      <a href="{{ post.url }}">阅读更多...</a>
    {% endif %}
    
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">后一页</a>
  {% else %}
    <span class="pagination-item older">后一页</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">前一页</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">前一页</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">前一页</span>
  {% endif %}
</div>